@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


:root {
  --primary-green: #7bbb53;
  --primary-dark: #1a1a1c;
  --secondary-green: #c7ffa4;
  --light-green: rgb(246, 253, 243);
  --error-red: #ff0033;
  --disabled-grey: rgba(0, 0, 0, 0.2);
  --star-yellow: #ffe100;
  --grey-border: rgb(211, 211, 211);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

html, textarea {
  font-family: "Raleway", sans-serif;
}

body {
  position: relative;
  overflow-x: hidden;
}

body.modal-open {
  height: 100vh;
  overflow-y: hidden;
  padding-right: 15px;
}

section, nav {
  width: 85%;
  margin: 0 auto;
}

section h2 {
  font-size: 2.5rem;
  font-weight: 600;
}

.btn {
  text-decoration: none;
  color: initial;
  background-color: var(--primary-green);
  padding: 0.75rem 1.25rem;
  color: white;
  border-radius: 0.5rem;
  font-weight: 500;
}

@media screen and (max-width: 460px) {
  html {
    font-size: 80%;
  }
  section {
    width: 90%;
  }
}


/* Vue transitions */
.fade-enter-active, .fade-leave-active {
  transition: opacity .3s;
}

.fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
  opacity: 0;
}